.background {
  background-color: $primary;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
}

#logo {
  position: absolute;
  height: 41px;
  width: 90px;
  top: 0px;
  left: 0px;
  margin: 0.6rem;
  background-image: url('/statics/images/logoCompass.png');
}

.q-loading {
  background: rgba(0, 0, 0, 0.8);
}

.loginContainer {
  max-width: 600px;
  margin: 7rem auto;
  border: 1px solid #b4b4b4;
  background-color: #F9F9F9;
  padding: 1rem;

  h1 {
    font-size: 1.8rem;
    line-height: 2rem
  }

  .title-vertical-space {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .forgot-password-row {
    line-height: 2rem;
  }

  .vertical-space {
    margin-top: 1rem;
  }

  .align-middle {
    vertical-align: middle;
  }

  .button-login {
    width: 16rem;
  }

  .error-validation {
    color: $negative;
    clear: both;
    font-size: 70%;
  }
}

.q-footer {
  height: 2rem;
}

.q-footer .q-toolbar.box {
  color: inherit;
  background-color: $primary;
  font-size: 0.9em;
  min-height: 0;
}

.q-footer .q-toolbar .version {
  text-align: right;
}

.login {
  .input-box {
    label {
      color: $title-color;
      line-height: 1.25rem;
    }
    .q-input {
      padding-top: 0.3125rem;
      .q-placeholder {
        color: $email-field-placeholder-color;
      }
    }
    .q-input-height .q-field__control {
      height: 3.125rem;
      border-radius: 0.5rem;
    }
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
  }
  .right-section {
    background-color: $login-right-background;
    position: relative;
    .right-section-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 6.25rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .right-section-center {
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 1.875rem 2.8125rem;
    p {
      margin-top: 1.5rem;
      margin-bottom : 1.5rem;
      color: $body-color;
    }
    .read-article-button {
      color: $label-color !important;
      text-transform: capitalize;
      padding: 0 1rem;
      border-radius: 0.25rem;
    }
  }
  .left-section {
    background-color: $login-left-background;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    .left-section-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 6.25rem;
      padding: 0 3.125rem;
      .select-language {
        &.select-box-center {
          display: block;
          margin: 0 auto;
        }
        .q-field--auto-height .q-field__native {
          color: $select-field-text-color;
        }
        .q-field--outlined .q-field__control:before {
          border: 0.06rem solid $field-border-color;
        }
        .flag-right-spacer {
          margin-right: 0.5rem;
        }
        .q-field__append {
          i {
            color: $select-field-text-color;
          }
        }
      }
    }
    .left-section-content {
      width: 100%;
      min-height: calc(100vh - 10rem);
      .box-login {
        max-width: 26.875rem;
        width: 100%;
        img {
          width: 8.0625rem;
          height: 2.25rem;
        }
        .title-spacer {
          padding-left: 0;
          padding: 2rem 0;
        }
        .password-box-top-spacer {
          padding-top: 2rem;
        }
        .checkbox-left-spacer {
          margin-left: -0.6rem;
        }
        .sign-in-button {
          width: 14.375rem;
          text-transform: capitalize;
          border-radius: 0.5rem;
          padding: 0.625rem 0.625rem;
          background-color: $sign-in-button-color;
          color: $body-color;
        }
        .q-checkbox__label {
          color: $title-color;
          font-weight: 600;
        }
      }
    }
    .left-section-footer {
      width: 100%;
      color: $title-color;
      p {
        width: 100%;
        content: '';
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 0;
        line-height: 1.125rem;
        font-size: 0.875rem;
      }
      .top-spacer {
        color: $field-hint-color;
      }
    }
    .left-section-footer-image {
      width: 100%;
      color: $title-color;
      position: absolute;
      left: -3.125rem;
      right: 0;
      bottom: 0;
      height: 6.25rem;
      img {
        object-fit: cover;
      }
    }
    .left-section-mobile-footer {
      width: 100%;
      color: $title-color;
      p {
        width: 100%;
        content: '';
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 0;
        line-height: 1.125rem;
        font-size: 0.875rem;
        text-align: center;
      }
      .top-spacer {
        color: $field-hint-color;
      }
    }
  }
  .q-item__label {
    color: $title-color;
    font-weight: 800;
    font-size: 1.25rem;
  }
  .error-validation {
    color: $negative;
    clear: both;
    font-size: 70%;
  }
  .forgot-password-button {
    text-transform: capitalize;
    border-radius: 0.5rem;
  }
}

@media (max-width $breakpoint-sm-max) {
  .login {
    .left-section {
      .left-section-header {
        height: 4.25rem;
        padding: 0 1rem;
      }
      .left-section-content {
        .box-login {
          padding: 1rem;
          img {
            display: block;
            margin: 0 auto;
          }
          .title-spacer {
            padding: 1rem 0;
            .q-item__label {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: wrap;
              text-align: center;
            }
          }
        }
      }
      .left-section-footer-image {
        position: fixed;
        bottom: 0;
        padding: 1rem;
        p {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .login {
    .q-item__label {
      font-size: 1rem;
    }
    .input-box {
      label {
        font-size: 0.8rem;
      }
      .q-input-height .q-field__control {
        height: 2.5rem;
      }
    }
    .left-section {
      .left-section-content {
        .box-login {
          padding-top: 0;
          .title-spacer {
            padding: 1rem 0;
          }
          .password-box-top-spacer {
            padding-top: 1rem;
            .password-box {
              label {
                font-size: 0.8rem;
              }
              .q-input-height .q-field__control {
                height: 2.5rem;
              }
              .q-field__append i {
                margin-top: -0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .login {
    .left-section {
      width: 100%;
      .left-section-footer-image {
        img {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .login {
    .left-section {
      width: 50%;
    }
    .right-section {
      width: 50%;
    }
  }
}

@media only screen and (min-height: 1366px) {
  .login {
    .left-section {
      width: 50%;
    }
    .right-section {
      width: 50%;
    }
  }
}
