// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Global styles
$primary = #3d7dcb
$primary-gradient = #395ae1
$secondary = #F2994A
$accent = #555
$dark = #000000
$positive = #21BA45
$negative = #DB2828
$info = #31CCEC
$warning = #F2C037
$body-background = #F2F2F2
$body-color = #FFFFFF
$border = #E0E0E0
$link-color = #307FE2

// Global components styles
$page-container-background = $body-background
$page-box-background = lighten($page-container-background, 15)
$page-section-container-background = $body-color
$page-section-card-background = $body-color

// Global Field & Label styles
$label-color = #505F79
$field-border-color = #DFE1E6
$field-hint-color = #7A869A

// Global title bar styles
$title-bar-background = #F5F9FF
$title-bar-text-color = #091E42
$title-color = #253858

// Global Side bar styles
$side-bar-menu-active-color = $link-color

// Global notification styles
$notification-inactive-color = #FFAB00
$notification-need-attention-color = #FF5630
$notification-acknowledged-color = #36B37E
$notification-shelve-color = $label-color

// Global tab styles
$tab-active-color = #0B69E0
$tab-active-background-color = #E5F0FF

// Global button styles
$apply-button-color = $tab-active-color
$reset-button-color = $label-color
$active-radio-button-color = $tab-active-color

// Global card styles
$card-action-color = #FAFBFC

// Global table styles
$table-header-color = $card-action-color

// Global icon styles
$search-icon-color = #97A0AF
$select-box-clear-icon-color = $search-icon-color
$calendar-icon-color = $search-icon-color

// Global chart styles
$chart-grid-line-color = #F4F5F7
$chart-axis-fill-color = $tab-active-color

// Local layout styles
$mobile-layout-profile-section-start-color = #2F8BDD
$mobile-layout-profile-section-end-color = #1D7DD3
$mobile-layout-email-caption-color = #87BBEB
$mobile-layout-notification-section-background-color = #D2E5F6

// Local Password box field styles
$password-box-reveal-eye-color = #E5E5E5
$password-field-placeholder-color = $search-icon-color

// Local Login section styles
$login-left-background = $body-color
$login-right-background = #0043BD
$sign-in-button-color = $tab-active-color
$email-field-placeholder-color = $search-icon-color
$select-field-text-color = $search-icon-color

// Local Whats new component styles
$whats-new-feature-status-color = #006644
$whats-new-feature-status-background = #E3FCEF
$whats-new-improvement-status-color = #FF8B00
$whats-new-improvement-status-background = #FFFAE6

// Local Historical component styles
$historical-first-selected-tag-line-color = #00A3BF
$historical-second-selected-tag-line-color = #FF991F
$historical-filter-item-icon-background-color = $historical-first-selected-tag-line-color

// Local Compare component styles
$compare-first-item-background-color = $historical-first-selected-tag-line-color
$compare-second-item-background-color = $historical-second-selected-tag-line-color
$compare-yaxis-line-color = $compare-second-item-background-color
$compare-opposite-yaxis-line-color = $compare-first-item-background-color

// Local Calendar component styles
$calendar-border-color = #EBECF0
$calendar-event-red-dot = $notification-need-attention-color
$calendar-event-blue-dot = $link-color
$calendar-tooltip-color = #EFF3F6

// Local Houseview components styles
$house-view-bar-chart-column-color = $historical-first-selected-tag-line-color
$prediction-chart-avg-poultry-weight-line-color = #DE350B
$prediction-chart-predue-line-color = $historical-first-selected-tag-line-color
$feed-usage-yaxis-line-color = $historical-second-selected-tag-line-color
$feed-usage-opposite-yaxis-line-color = $house-view-bar-chart-column-color
$feed-conversion-yaxis-line-color = $prediction-chart-avg-poultry-weight-line-color
$feed-conversion-opposite-yaxis-line-color = #5243AA
$climate-yaxis-line-color = $feed-usage-yaxis-line-color
$climate-opposite-yaxis-line-color = $feed-usage-opposite-yaxis-line-color
$water-usage-yaxis-line-color = $prediction-chart-avg-poultry-weight-line-color
$water-usage-opposite-yaxis-line-color = $house-view-bar-chart-column-color

// Local Map component styles
$map-side-bar-barn-icon-background-color = #5244AA

// App Shared Font Variables
// --------------------------------------------------
@font-face
    font-family Primary-Font
    font-style normal
    src url(/statics/fonts/Montserrat-Regular.ttf)

@font-face
    font-family Primary-Font-Bold
    font-style normal
    src url(/statics/fonts/Montserrat-Bold.ttf)

@font-face
    font-family Primary-Font-Medium
    font-style normal
    src url(/statics/fonts/Montserrat-Medium.ttf)

@font-face
    font-family Primary-Font-SemiBold
    font-style normal
    src url(/statics/fonts/Montserrat-SemiBold.ttf)

$primary-font = "Primary-Font";
$primary-font-bold = "Primary-Font-Bold";
$primary-font-medium = "Primary-Font-Medium";
$primary-font-semibold = "Primary-Font-SemiBold";

// Set whole application font
$typography-font-family = $primary-font
